.container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 100px;
}

.container .div-img {
    margin-left: 100px;
    margin-top: 50px;
}

.container .hi {
    color: #DEDEDE;
    font-size: 30px;
    margin-top: 90px;
    margin-left: 250px;
    height: 90px;
    width: 500px;
    align-items: center;
    font-size: 38px;
}

.container .help{
    color: #959595;
    margin-left: 250px;
    width: 350px;
    font-size: 20px;
}

.container .email {
    color: white;
    background-color: #9D9D9D;
    align-items: center;
    margin-left: 250px;
    margin-top: 50px;
    width: 180px;
    padding: 10px 40px;
    font-size: 18px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
    margin-left: 250px;
    width: 612px;
    height: 888;
    gap: 120px;
    row-gap: 50px;
}

.grid-item {
    width: 612px;
    height: 888px;
}

/* .grid-ittem {
    margin-top: 250px;
} */

.grid-iteem {
    margin-top: 0;
}

.second-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    margin-left: 250px;
    width: 400px;
    gap: 70px;
    align-items: center;
}

.second-grid-container .grid-item {
    width: 400px;
    height: 408px;
}

.third-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 400px;
    height: 560px;
    margin-top: 50px;
    margin-left: 250px;
    gap: 70px;

}

.third-grid-container .grid-item {
    width: 400px;
    height: 560px;
}

.work {
    color: #959595;
    text-align: center;
    width: 400px;
    margin-inline: auto;
    font-size: 24px;
}

.fourth-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 16px;
    margin-top: 150px;
    margin-left: 80px;
}

.fourth-grid-item-grey {
    color: #959595;
}

.fourth-grid-item {
    color: #DEDEDE;
    font-size: 20px;
    margin-top: 25px;
}

.fifth-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 346px;
    margin-left: 80px;
    row-gap: 240px;
}

.word-p {
    color: #959595;
    font-size: 16px;
}

.word {
    color: #DEDEDE;
    font-size: 32px;
}

.word-grid-item {
    align-self: center;
}

